html, body {
    height: 100%;
}

.mdl-layout__header-row {
    padding-left: 16px;
}

#app-grid {
    padding: 0;
}

#configuration-column, #map-column {
    margin: 0;
}

#configuration-column {
    background-color: #fafafa;
}

#app-grid, #map-column {
    min-height: 100%;
    height: 100%;
}

#map-column {
    width: calc(66.6666666667%);
}

#map-dev {
    width: 100%;
    height: 100%;
}

#request {
    width: 300px;
}

/* Prod */
#prod-options {
    width: 312px;
    height: 100%;
    float: left;
}

#prod-map {
    width: calc(100% - 312px);
    height: 100%;
}

#prod-form {
    margin: 0 30px 0 15px;
}

#brand {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

#hotgrid-options {
    display: none;
}

#loader {
    display: none;
    position:fixed;
    margin-top: 10px;
    bottom:0;
    width: 312px;
    background-color: #b02b2c;
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
}
